[Unit]
Description=IPTVBoss
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=10
User=ubuntu
# Add this under [Service] to override the persisted listener port:
# Environment=IPTVBOSS_XC_PORT=9000
ExecStart=/usr/bin/iptvboss -xcserver -xc-proxy -xc-bind-address loopback

[Install]
WantedBy=multi-user.target
